from: https://github.com/qzed/aarch64-kernel-configs/blob/2c1f44f055e5373dd657587d127c6228b1386ee7/fragments/spx.config

##
## Default Command-Line
##
## The 'clk_ignore_unused' parameter needs to be set, otherwise we won't be able
## to boot.
##
## Note: This is only the default in case no options are set by the bootloader.
## Generally, this will be overwritten by the bootloader, where this option
## needs to be specified as well.
##
CONFIG_CMDLINE="clk_ignore_unused"
CONFIG_CMDLINE_FROM_BOOTLOADER=y
# CONFIG_CMDLINE_FORCE is not set

##
## Use FB_SIMPLE over DRM_SIMPLE
##
## Using DRM_SIMPLE causes some problems (including stalls) and also leads to
## screen tearing on the initial console. Use FB_SIMPLE instead.
##
# CONFIG_DRM_SIMPLEDRM is not set
CONFIG_FB_SIMPLE=y

##
## Architecture
##
CONFIG_ARCH_QCOM=y

##
## IOMMU
##
CONFIG_IOMMU_SUPPORT=y
CONFIG_ARM_SMMU=y
CONFIG_ARM_SMMU_QCOM=y
CONFIG_QCOM_IOMMU=y

##
## IRQ chip
##
CONFIG_QCOM_PDC=y

##
## CPU Frequency Scaling Drivers
##
CONFIG_ARM_QCOM_CPUFREQ_HW=y

##
## Pin Controller
##
CONFIG_PINCTRL_MSM=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
CONFIG_PINCTRL_SC8180X=y

##
## Clock Controller
##
## Note: SM_DISPCC_8250 is deliberately built as module to keep the
## display on during boot. Building it in results in the display being turned
## off early.
##
CONFIG_COMMON_CLK=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_QCOM_CLK_RPMH=y
CONFIG_SC_GCC_8180X=y
CONFIG_SM_DISPCC_8250=m
CONFIG_SM_GCC_8150=y
CONFIG_SM_GPUCC_8150=y

##
## Hardware Spinlock
##
CONFIG_HWSPINLOCK=y
CONFIG_HWSPINLOCK_QCOM=y

##
## Regulators
##
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_REGULATOR_QCOM_RPMH=y

##
## PMICs
##
CONFIG_MFD_SPMI_PMIC=y

##
## Thermal drivers
##
CONFIG_QCOM_TSENS=m
CONFIG_QCOM_LMH=m
CONFIG_QCOM_SPMI_TEMP_ALARM=m

##
## PHYs
##
CONFIG_PHY_QCOM_EDP=m
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y

##
## Qualcomm SoC drivers
##
CONFIG_QCOM_AOSS_QMP=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_RPMH=y
CONFIG_QCOM_RPMHPD=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_SMP2P=y
CONFIG_QCOM_SOCINFO=y

##
## Interconnect
##
CONFIG_INTERCONNECT=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_INTERCONNECT_QCOM_SC8180X=y

##
## Qualcomm IPC Router
##
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_QRTR_TUN=y

##
## Mailbox/IPC
##
CONFIG_MAILBOX=y
CONFIG_QCOM_APCS_IPC=y

##
## Remote Processors
##
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y

CONFIG_REMOTEPROC=y
CONFIG_QCOM_Q6V5_PAS=m
CONFIG_QCOM_SYSMON=m

##
## USB Controller
##
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_XHCI_PLATFORM=y

CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_QCOM=y

CONFIG_USB_GADGET=y
# CONFIG_USB_DWC3_HOST is not set
# CONFIG_USB_DWC3_GADGET is not set
CONFIG_USB_DWC3_DUAL_ROLE=y

##
## USB Port Drivers
##
CONFIG_TYPEC=y
CONFIG_TYPEC_UCSI=y
CONFIG_UCSI_GLINK=y
CONFIG_TYPEC_QCOM_PMIC=y

CONFIG_USB_ROLE_SWITCH=y

##
## UART/Serial, I2C, SPI
##
CONFIG_QCOM_GENI_SE=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_SERIAL_QCOM_GENI_CONSOLE=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_SPI_QCOM_GENI=y

##
## Serial Device Subsystem (serdev)
##
CONFIG_SERIAL_DEV_BUS=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y

##
## Bluetooth
##
CONFIG_BT_HCIUART_QCA=y

##
## WiFi
##
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH10K=m
CONFIG_ATH10K_SNOC=m

##
## PCIe
##
CONFIG_PCIE_QCOM=y

##
## Backlight
##
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_LEDS_QCOM_LPG=m
CONFIG_BACKLIGHT_PWM=m

##
## Display Panel
##
CONFIG_DRM_DP_AUX_BUS=y
CONFIG_DRM_PANEL_EDP=y

##
## GPU
##
CONFIG_DRM_MSM=m
CONFIG_DRM_MSM_GPU_STATE=y
CONFIG_DRM_MSM_MDSS=y
CONFIG_DRM_MSM_DPU=y
CONFIG_DRM_MSM_DP=y
CONFIG_DRM_MSM_DSI=y
CONFIG_DRM_MSM_DSI_7NM_PHY=y
CONFIG_DRM_PANEL=y

##
## Surface System Aggregator
##
CONFIG_SURFACE_PLATFORMS=y

CONFIG_SURFACE_AGGREGATOR=m
CONFIG_SURFACE_AGGREGATOR_BUS=y
# CONFIG_SURFACE_AGGREGATOR_ERROR_INJECTION is not set
CONFIG_SURFACE_AGGREGATOR_CDEV=m
CONFIG_SURFACE_AGGREGATOR_HUB=m
CONFIG_SURFACE_AGGREGATOR_REGISTRY=m
CONFIG_SURFACE_AGGREGATOR_TABLET_SWITCH=m

CONFIG_SURFACE_PLATFORM_PROFILE=m

CONFIG_BATTERY_SURFACE=m
CONFIG_CHARGER_SURFACE=m

CONFIG_SURFACE_HID=m
CONFIG_SURFACE_HID_CORE=m

CONFIG_RTC_DRV_SURFACE=m

CONFIG_SURFACE_THERMAL=m
CONFIG_SURFACE_THERMAL_HUB=m

##
## SPI HID (for Touchscreen)
##
CONFIG_SPI_HID=m

##
## Ambient Light sensors
##
CONFIG_APDS9960=m

##
## Volume Buttons
##
CONFIG_KEYBOARD_GPIO=y

##
## Power Button
##
CONFIG_INPUT_PM8941_PWRKEY=y

##
## Analog to digital converters
##
CONFIG_QCOM_SPMI_ADC5=m

##
## TrustZone / Trusted Execution Environment
##
CONFIG_QCOM_SCM=y
CONFIG_QCOM_TEE=y
CONFIG_QCOM_TEE_UEFISECAPP=y
