// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Martin Blumenstingl <martin.blumenstingl@googlemail.com>
 */

/dts-v1/;

#include "meson8-mxiii.dtsi"

/ {
	model = "Tronsmart MXIII";
	compatible = "tronsmart,mxiii", "amlogic,meson8m2";

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <100>;

		button-power {
			label = "power";
			linux,code = <KEY_POWER>;
			gpios = <&gpio_ao GPIOAO_3 GPIO_ACTIVE_LOW>;
		};
	};
};

&ethmac {
	status = "okay";

	pinctrl-0 = <&eth_pins>;
	pinctrl-names = "default";

	phy-handle = <&eth_phy0>;
	phy-mode = "rmii";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		eth_phy0: ethernet-phy@0 {
			/* IC Plus IP101A/G (0x02430c54) */
			reg = <0>;
			icplus,select-interrupt;
			interrupt-parent = <&gpio_intc>;
			/* GPIODV_29 = 94 and GPIOZ_4 are not working */
			/* interrupts = <94 IRQ_TYPE_LEVEL_LOW>; */

			reset-assert-us = <10000>;
			reset-deassert-us = <10000>;
			reset-gpios = <&gpio GPIOZ_14 GPIO_ACTIVE_LOW>;
		};
	};
};

&sdhc {
	status = "okay";

	pinctrl-0 = <&sdxc_b_pins>;
	pinctrl-1 = <&sd_b_pins>; /* put in the reference that was
originally used for the SDIO controller */
	pinctrl-names = "default", "sleep";

	bus-width = <4>;
	max-frequency = <50000000>;

	no-mmc;
	no-sdio;
	cap-sd-highspeed;
	disable-wp;

	cd-gpios = <&gpio CARD_6 GPIO_ACTIVE_LOW>;

	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_3v3>;
};

&sdio {
	status = "okay";

	pinctrl-0 = <&sd_a_pins>;
	pinctrl-names = "default";

	/* wifi */
	slot@0 {
		compatible = "mmc-slot";
		reg = <0>;

		bus-width = <4>;
		max-frequency = <50000000>;

		disable-wp;
		non-removable;
		cap-mmc-highspeed;
		cap-sd-highspeed;

		mmc-pwrseq = <&sdio_pwrseq>;

		vmmc-supply = <&vcc_3v3>;
	};
};
